<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="recipe-details">
    <div *ngIf="recipe" class="recipe-card">
      <div class="image-container">
      <div class="recipe-image">
        <img [src]="recipe.image" [alt]="recipe.title" />
        <div class="circle-background">
          <i [ngClass]="{'fas': recipe.saved, 'far': !recipe.saved, 'full-heart': recipe.saved, 'empty-heart': !recipe.saved}" class="fa-heart" (click)="saveRecipe()"></i>
        </div>
       
      </div>
     
      </div>
    </div>
  </div>
  <div class="custom-left-margin">
    <div class="recipe-details">
      <div *ngIf="recipe">
        <h1>{{ recipe.title }}</h1>
        <div class="diet">
          <div class="diet-labels">
            <ng-container *ngFor="let label of recipe.dietLabels">
              <span class="badge">{{ label }}</span>
            </ng-container>
            <ng-container *ngFor="let label of recipe.healthLabels">
              <span class="badge">{{ label }}</span>
            </ng-container>
          </div>
          <br/>
          <div class="centered-ingredients">
          <h2><span class="leaf-icon"></span> Ingredients <span class="leaf-icon"></span></h2>
          <ul class="green-leaves-list">
            <li *ngFor="let ingredient of recipe.ingredients">
              <div class="ingredient-container">
                <button class="shopping-cart-button" (click)="addToShoppingCart(recipe.url, ingredient)"
        [ngClass]="{'added-to-cart': ingredient.isInCart, 'not-added-to-cart': !ingredient.isInCart}" title="Add ingredient to shopping cart">
  <i class="fas fa-plus"></i>
</button>

                <span class="ingredient-text">{{ ingredient.text }}</span>
              </div>
            </li>
          </ul>
        </div>
          <h2>More info:</h2>
          <span class="ingredient-text">You can find instructions and more here: </span>
          <a href="{{ recipe.url }}">{{ recipe.source }}</a>
          <br/>
          <br/>
          <button class="green-button" (click)="caloriesToday()">
            I made this today!
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2 class="chart-title">Nutrition Chart</h2>
  <div class="chart-container">
    
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
</body>
</html>
