
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
  </head>
<div class="search-container">
<input type="text"  placeholder="Search saved recipes...">
<button type="submit"><i class="fas fa-search"></i></button>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
<div class="recipe-cards">
  <div *ngFor="let recipe of savedRecipes" class="recipe-card">
    <a [routerLink]="['/recipe-details', recipe.title]">
      <img [src]="recipe.image" alt="{{recipe.title}} image">
      <div class="recipe-details">
        <h2>{{recipe.title}}</h2>
              <h3>{{recipe.description}}</h3>
              <div class="star-rating">
                <ng-container *ngFor="let star of getStarRatingArray(recipe.rating)">
                    <span class="star"  [class.fa]="star !== 0" [class.fa-star-half-alt]="star === 0.5"[class.far]="star===0" [class.fa-star]="star === 0||star===1"></span>
                </ng-container>
              </div>
      </div>
    </a>
  </div>
</div></div></div>

